Description:
  Update the remote database schemas according to the local schema file.

Usage:
  alternator apply <schema-file> <database-url> [flags]

Arguments:
  schema-file    Path of a schema file
  database-url   URL for connecting to a database. The URL format is like following:

                   {dialect}://{username}[:{password}]@{hostname}[:{port}][/{database}]

                 Parameters:
                   - dialect (required): SQL dialect name. Currently, only "mysql" is supported.
                   - username (required): User name to connect as.
                   - password (optional): Password to be used if the server demands password authentication.
                   - hostname (optional): Host name to connect to.
                   - port (optional, default: 3306): Port number to connect to at the server host.
                   - database (required): Target database name.

                 Examples:
                   mysql://root@localhost/mydb
                   mysql://root@localhost:13306/mydb
                   mysql://bob:secret@dev.example.com/mydb

Flags:
      --auto-approve  Automatically apply changes
  -h, --help          Show this messages
