Usage:
  alternator <command> [flags]

Commands:
  validate     Validate the local schema file
  pull         Show the remote database schema
  plan         Show the remote database schema changes required by the local schema file
  apply        Update the remote database schema according to the local schema file
  version      Show version

Global Flags:
  -d, --debug  Show debug logs
  -h, --help   Show this messages
