Usage:
  alternator <command> [flags]

Commands:
  pull         Show the current database schema
  plan         Show database schema changes required by the schema file
  apply        Update the database schema according to the schema file
  version      Show version

Global Flags:
  -d, --debug  Show debug logs
  -h, --help   Show this messages
